<footer>
  <div class="footer-container">
    <div class="footer-left">
      <a href="#" class="logo">
        <img src="/img/MAINLOGO@2x-8.png" alt="MANARA Logo" class="footer-logo-img">
      </a>
      <p>&copy; <span id="current-year"></span> MANARA - Toate drepturile rezervate</p>
    </div>
    <div class="footer-middle">
      <ul>
        <li><a href="#despre" class="scroll-link">Despre noi</a></li>
        <li><a href="#servicii" class="scroll-link">Servicii</a></li>
        <li><a href="https://www.instagram.com/manarasrl">Portofoliu</a></li>
        <li><a href="#contact" class="scroll-link">Contact</a></li>
      </ul>
    </div>
    <div class="footer-right">
      <ul class="social-media">
        <li><a href="https://www.instagram.com/manarareparatii/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://wa.me/37369598170" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
      </ul>
    </div>
  </div>
</footer>